# Временные файлы Excel (мусор, который появляется при открытии книги)
~$*
*.tmp
*.xlsx
*.docx

# Системные файлы
thumbs.db
desktop.ini
.DS_Store

# Игнорировать все бинарные файлы базы данных
*.accdb
*.laccdb

# Но если ты хочешь оставить основной файл (необязательно, но иногда удобно), 
# то можно разрешить только его, заигнорив бэкапы:
*_VCSBackup*.accdb

# Папка с историей чатов Cursor (она может быть огромной, нам она в гите не нужна)
.cursor/
CreateOrder.xlsm.modules

# Если ты не хочешь хранить архив в гите (так как файлы большие), можно раскомментировать строку ниже:
# _Archive/